::-moz-selection {
  color: $selected-font-color;
  background: $selected-background-color;
  text-shadow: none;
}

::selection {
  color: $selected-font-color;
  background: $selected-background-color;
  text-shadow: none;
}

.item_title {
  color: $light-grey;
  font-weight: 600;
  float: left;
}
h3 {
  font-size: 10px;
}
h6 {
  font-size: 10px;
  margin: 0 0 28px 0;
}
p {
  font-weight: bold;
  color: $light-grey;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

input {
  border: 1px solid $medium-grey;
}
