build/*
!build/fonts
!build/img
!build/site.webmanifest
!build/safari-pinned-tab.svg
!build/favicon*
!build/browserconfig.xml
!build/apple-touch-icon.png
!build/android-chrome-*.png
data/*
!data/.gitkeep
!data/footer.js
!data/socials.json
src/content/posts/*
src/content/index.md
src/content/creative-commons.md
!src/content/posts/.gitkeep
src/content/tracks/*
!src/content/tracks/.gitkeep
layouts/partials/sprite.svg
node_modules
/assets/*
