.fullpage {
  min-height: 100vh;
  position: relative;
  &--centred {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--white {
    background: $white;
    color: $black;
  }
}