/* ==========================================================================
   Colours
   ========================================================================== */

$black: #000;
$white: #fff;
$link-active: #7393a7;
$dark: #67696e;

$dark: #575656;
$med-dark-grey: #b3b2b2;
$med-grey: #adadad;
$light-grey: #e6e6e6;
$white-grey: #f5f5f5;

$red: #d63939;
$orange: #ed8d44;
$blue: #545eea;

$bg: $black;

/* ==========================================================================
   Typography
   ========================================================================== */

$small: 14px;
$medium: 18px;

$bodysize: $medium;
$bodyline: 1.5em;

$body: 'Oswald', sans-serif;

/* ==========================================================================
   Media Queries
   ========================================================================== */

$mobLand: 720px;
$tablet: 1024px;
