html {
  font-size: $bodysize;
  font-family: $body;
  color: $white;
  scroll-behavior: smooth;
}

body {
  background: $bg;
  font-weight: 300;
  line-height: $bodyline;
  text-align: center;
}

h1 {
  line-height: 2em;
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  line-height: 1.4em;
}

h3 {
  font-size: 18px;
  line-height: 1.4em;
}

a {
  color: currentColor;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
