{% include "partials/head.njk" %}
  <div id="wrapper">
    <div id="container" class="main">
      <header class="header">
        <div class="header__strip"></div>
        <div class="gridwrap">
          <div class="col col--1">
            <div class="header__outer">
              <a href="/" class="header__logo">
                <svg>
                  <title>HEARSE PILEUP</title>
                  <use xlink:href="#logo"></use>
                </svg>
              </a>
              <label class="header__toggle" for="header__checkbox"></label>
              <input type="checkbox" id="header__checkbox">
              <nav class="header__nav">
                <ul>
                  <li><a href="#about">ABOUT</a></li>
                  <li><a href="#music">MUSIC</a></li>
                  <li><a href="#press">PRESS KIT</a></li>
                  <li><a href="#contact">CONTACT</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        {% include "partials/gigwidget.njk" %}
      </header>
      {% block body %}

      {% endblock %}
    </div>
  </div>
{% include "partials/foot.njk" %}
