{% include "partials/head.njk" %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">


  <div id="wrapper">
    <div id="container" class="main">
      <header class="header">
        <div class="header__strip"></div>
        <div class="gridwrap">
          <div class="col col--1">
            <div class="header__outer">
              <a href="/" class="header__logo">
                <svg>
                  <title>HEARSE PILEUP</title>
                  <use xlink:href="#logo"></use>
                </svg>
              </a>
              <label class="header__toggle" for="header__checkbox"></label>
              <input type="checkbox" id="header__checkbox">
              <nav class="header__nav">
                <ul>
                  <li><a href="#about">ABOUT</a></li>
                  <li><a href="#music">MUSIC</a></li>
                  <li><a href="#press">PRESS KIT</a></li>
                  <li><a href="#contact">CONTACT</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      {% block body %}

      {% endblock %}
    </div>
  </div>
{% include "partials/foot.njk" %}
