{% extends "./base.njk" %}
{% from "partials/rimg.njk" import rimg %}

{% block body %}
  <div class="fullpage fullpage--white section">
    <div class="announcements glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for announcement in announcements.slides %}
            <li class="glide__slide">
              <div class="announcements__slide">
                {% if announcement.slide_type == "video" %}
                  <div class="fitimg videoplayer" data-video="{{announcement.video}}">
                    {{rimg(announcement.img.landscape, announcement.img.portrait)}}
                  </div>
                {% else  %}
                  <div class="fitimg">
                    {{rimg(announcement.img.landscape, announcement.img.portrait)}}
                  </div>
                {% endif %}
                {% if announcement.slide_type == 'banner' and announcement.slide_link %}
                  <a class="announcements__cta button" href="{{announcement.slide_link}}">
                    {{announcement.link_text if announcement.link_text else "MORE"}}
                  </a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="announcements__next" data-glide-dir="<">
          <svg>
            <use xlink:href="#downarr"></use>
          </svg>
        </button>
        <button class="announcements__prev" data-glide-dir=">">
          <svg>
            <use xlink:href="#downarr"></use>
          </svg>
        </button>
      </div>
    </div>
    <button class="fullpage__downarrow">
      <svg>
        <use xlink:href="#downarr"></use>
      </svg>
    </button>
  </div>
  <div class="fullpage fullpage--centred section">
    <a class="fullpage__anchor" id="about"></a>
    <div class="fitimg">
      <img src="{{bandbio.bg.landscape.main_img}}" srcset="{{bandbio.bg.landscape.src_set}}" sizes="100%" alt="">
    </div>
    <div class="gridwrap">
      <div class="iconbox">
        <span class="iconbox__icon">
          <svg><use xlink:href="#monogram"/></svg>
        </span>
        <div class="col col--3-5 col--centred">
          <h2>{{bandbio.headline}}</h2>
          {{bandbio.content | safe}}
        </div>
      </div>
    </div>
  </div>
  <div class="fullpage fullpage--centred fullpage--white section">
    <a class="fullpage__anchor" id="music"></a>
    {% for track in music %}
      <div class="record">
        {% vue { component:"RecordPlayer", props: { record: track.audio, artwork: track.cover_art } } %}
        <h3>{{track.title | upper}}</h3>
        <p><a class="button button--black  launch__lightbox" href="/tracks/{{track.slug}}"  data-lightbox-type="iframe">MORE</a></p>
      </div>
    {% endfor %}
  </div>
  <div class="gridwrap section">
    <a class="fullpage__anchor" id="press"></a>
    <div class="col col--3-5 col--centred">
      <span class="iconbox__icon">
        <svg><use xlink:href="#download"/></svg>
      </span>
      <h2>DIGITAL PRESS KIT</h2>
      <p>{{dpk.title}}</p>
      <p><a href="{{dpk.link}}" target="_blank" class="button">VISIT LINK</a></p>
    </div>
  </div>
  <div class="section--white group">
    <div class="section gridwrap divider gridwrap--flex section--contact">
      <a class="fullpage__anchor" id="contact"></a>
      <div class="col col--2-5">
        <ul class="social">
          <li>
            <a href="https://facebook.com/HearsePileup" target="_blank">
              <svg class="icon">
                <use xlink:href="#fb"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hearsepileup/" target="_blank">
              <svg class="icon">
                <use xlink:href="#ig"></use>
              </svg>
            </a>
          </li>
        </ul>
        <h2>SOCIAL</h2>
        <p>We can be found on a variety of platforms but we are most active on the above two, so for regular updates follow us.</p>
      </div>
      <div class="col col--2-5 flexalign--right">
        <h2>LICENCING</h2>
        <p>All of our music is released under a creative commons by attribution share alike license.</p>
        <p><a href="/creative-commons" data-lightbox-type="iframe" class="button launch__lightbox">MORE</a></p>
      </div>
    </div>
  </div>
  <div class="gridwrap section section--bottom">
    <div class="col col--3-5 col--centred">
      <span class="iconbox__icon">
        <svg><use xlink:href="#monogram"/></svg>
      </span>
      <div class="contact">
        <h2>CONTACT</h2>
        <a href="email:band@hearsepileup.de">band@hearsepileup.de</a>
      </div>
      <div class="contact__social">
        <h3>FOLLOW US ON:</h3>
        <p>
          <a href="https://www.facebook.com/Hearse.Pileup" target="_blank">Facebook</a>&nbsp;&nbsp;/&nbsp;&nbsp;
          <a href="https://instagram.com/hearsepileup" target="_blank">Instagram</a>&nbsp;&nbsp;/&nbsp;&nbsp;
          <a href="https://hearsepileup.bandcamp.com/" target="_blank">Bandcamp</a>&nbsp;&nbsp;/&nbsp;&nbsp;
          <a href="https://metalhead.club/@hearsepileup" target="_blank">Mastodon</a>&nbsp;&nbsp;/&nbsp;&nbsp;
          <a href="https://youtube.com/HearsePileup" target="_blank">YouTube</a>
        </p>
      </div>
      <p class="copyleft">
        CC Hearse Pileup 2020 - Attribution - Non-Commercial.
      </p>
    </div>
  </div>
  {% include "partials/lightbox.njk" %}
{% endblock %}
