{% include "partials/head.njk" %}
  <div id="wrapper" class="theme--white">
    <div id="container" class="main">
      {% block body %}

      {% endblock %}
    </div>
  </div>
{% include "partials/foot.njk" %}
