{% extends "./iframe.njk" %}

{% block body %}
  <div class="gridwrap">
    <div class="col--2-3 col col--centred content">
      <h1>{{title | safe}}</h1>
      {{content | safe}}
    </div>
  </div>
{% endblock %}