{% include "partials/head.njk" %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9918791-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-9918791-5');

  function linkClick(service, allegiance) {
    gtag('event', 'socialclick', {
      event_category: allegiance,
      event_label: service
    });
  }

  function addQueryListener(selector, args){
    document.addEventListener('click', function(e) {
      // loop parent nodes from the target to the delegation node
      for (var target = e.target; target && target != this; target = target.parentNode) {
        if (target.matches(selector)) {
          linkClick(target.textContent, args);
          break;
        }
      }
    }, false);
  }
</script>
<div class="gridwrap gridwrap--flex theme--black text-centre">
  <div class="col--1-2 col--centred">
    <h1 class="glitchtext nomargin--bottom" data-text="FUCK THE">Help us play the system:</h1>
    <p class="linktree--evil nomargin--top">
        <em>We're All Going To Hell:</em>
        <a class="glitchtext underline" data-text="EVIL" href="{{socials.campaign}}" target="_blank"><strong>Pre-Save</strong></a>
    </p>
    <h1>Our socials:</h1>
    <p>(Hearse Pileup uses Google Analytics on <em>this page only</em> for PR bullshit)</p>
    <ul class="linktree linktree--good">
      <li>
        <a href="{{socials.good.website}}">Website</a>
      </li>
      <li>
        <a href="{{socials.good.bandcamp}}" target="_blank">Bandcamp</a>
      </li>
      <li>
        <a href="{{socials.good.mastodon}}" target="_blank">Mastodon</a>
      </li>
    </ul>
    <ul class="linktree linktree--evil">
      <li>
        <a class="glitchtext" data-text="EVIL" href="{{socials.evil.spotify}}" target="_blank">Spotify</a>
      </li>
      <li>
        <a class="glitchtext" data-text="EVIL" href="{{socials.evil.facebook}}" target="_blank">Facebook</a>
      </li>
      <li>
        <a class="glitchtext" data-text="EVIL" href="{{socials.evil.instagram}}" target="_blank">Instagram</a>
      </li>
      <li>
        <a class="glitchtext" data-text="EVIL" href="{{socials.evil.tiktok}}" target="_blank">TikTok</a>
      </li>
      <li>
        <a class="glitchtext" data-text="EVIL" href="{{socials.evil.youtube}}" target="_blank">YouTube</a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  addQueryListener('.linktree--good a', 'good');
  addQueryListener('.linktree--evil a', 'evil');
</script>
{% include "partials/foot.njk" %}
