{% extends "./iframe.njk" %}
{% from "partials/rimg.njk" import rimg %}

{% block body %}
  <div class="fullpage fullpage--centred">
    <div class="gridwrap">
      <div class="trackinfo">
        <div class="col--1-2 col trackinfo__art">
          {{rimg(albumart.landscape, false, '(min-width: 1224px) 492px, (min-width: 720px) calc(50vw - 60px), calc(100vw - 40px)')}}
        </div>
        <div class="col--1-2 col trackinfo__description">
          <h1>{{title}}</h1>
          <div class="trackinfo__text">
            {{content | safe}}
          </div>
          <div class="trackinfo__actions">
            <a href="{{buy}}" target="_blank" class="button">BUY</a>
            <span>OR</span>
            <a href="/creative-commons" target="_blank" class="button">USE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}